@tailwind base;

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  a {
    @apply text-indigo-200 underline;
  }
  ul > li {
    @apply list-disc list-outside;
  }
}

@tailwind components;

@tailwind utilities;

button {
  @apply transition-all duration-100 font-bold py-2 px-4 border-b-4 rounded text-white;
}

button:active {
  border-bottom-width: 1px;
  margin-top: 3px;
}

button.pressed {
  border-bottom-width: 1px;
  margin-top: 3px;
}
