.btn-skip {
  @apply bg-yellow-500 text-white border-yellow-700;
}

.btn-skip:hover {
  @apply bg-yellow-400 border-yellow-500;
}

.btn-clear {
  @apply bg-red-500 text-white border-red-700;
}

.btn-clear:hover {
  @apply bg-red-400 border-red-500;
}

.btn-play {
  @apply bg-green-500 text-white border-green-700;
}

.btn-play:hover {
  @apply bg-green-400 border-green-500;
}

.btn-pause {
  @apply bg-green-600 text-white border-green-800;
}

.btn-pause:hover {
  @apply bg-green-500 border-green-600;
}

.clip {
  @apply bg-gray-50 text-black font-bold rounded;
}

.clip .clip-buttons {
  opacity: 0;
}

.clip:hover {
  @apply bg-gray-200;
}

.clip:hover .clip-buttons {
  opacity: 1;
}

.clip:hover > img {
  opacity: 0.9;
}

.player {
  aspect-ratio: 16 / 9;
  @apply w-full h-auto bg-black;
  max-height: 77vh;
}
