.queue-page {
  display: grid;
  grid-template-columns: auto 20em;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'player nextup'
    'title nextup'
    'buttons nextup';
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-items: stretch;
  max-height: calc(100vh - 7rem);
}

.player-container {
  grid-area: player;
}

.player-title-container {
  grid-area: title;
}

.buttons-container {
  grid-area: buttons;
}

.nextup-container {
  grid-area: nextup;
}

.bottom-container {
  grid-area: bottom;
}

.clip {
  @apply bg-indigo-50 text-black font-bold rounded;
}

.clip .clip-buttons {
  opacity: 0;
}

.clip:hover,
.clip:focus {
  @apply bg-indigo-200;
}

.clip:hover .clip-buttons,
.clip:focus .clip-buttons {
  opacity: 1;
}

.clip:hover > img,
.clip:focus > img {
  opacity: 0.9;
}

.player {
  aspect-ratio: 16 / 9;
  @apply w-full h-auto bg-black;
  max-height: 82vh;
}

.custom-scroll::-webkit-scrollbar {
    width: 0.25em;
    @apply bg-purple-600;
}

.custom-scroll::-webkit-scrollbar-thumb {
    @apply bg-purple-100;
}

.custom-scroll {
    -ms-overflow-style: none;
    scrollbar-width: thin;
    @apply pr-2;
}
